<!DOCTYPE html>
<html>
<body>

<h2>Registeration form</h2>

<form>
  Name:<br>
  <input type="text" name="Name">
  <br>
  Password:<br>
  <input type="password" name="password">
</form>
<button type="button">Click Me!</button>
</body>
</html>